body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #000000;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(/images/background.jpg?c2db43c905d30334a090019037a56586) top no-repeat;
  background-size: cover;
}
.intro_-title-first {
  position: static;
  width: 480px;
  height: 119px;
  left: 0;
  font-weight: 900;
  font-size: 48px;
  background: linear-gradient(99.78deg, #FC8800 37.65%, #FC8800 37.65%, #FEAD3F 69.16%, #FFBB59 69.17%, #FFA318 69.17%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  line-height: 1;
}
.intro_-title-second {
  position: static;
  width: 473px;
  height: 34px;
  left: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  background: linear-gradient(90.36deg, #FC8800 19.96%, #FFA318 73.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  line-height: 1;
}
.intro__inner {
  width: 100%;
  max-width: 480px;
  margin: 20% 0 0 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.intro__programmers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 84vh;
  background: url(/images/Crosley-Bermuda-I1.jpg?1f3e596465b6d4c7a794cd849e96d1d1) top no-repeat;
  background-size: cover;
  margin-bottom: 110px;
}
.intro__programmers-title-first {
  width: 981px;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
  margin: 142px auto 92px;
}
.intro__records {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 84vh;
  background: url(/images/hotel-records-w-aust1.jpg?2addd76b140060e814119acc737a7ca3) top no-repeat;
  background-size: cover;
}
/* Header */
.header {
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(187, 187, 187, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Nav */
.nav {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 16px;
  position: relative;
  text-decoration: none;
  color: #4B4B4B;
  transition: opacity 0.2s linear;
}
.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #4B4B4B;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  transition: opacity 0.2s linear;
}
.nav__link:hover {
  opacity: 60%;
}
.nav__link.active {
  opacity: 60%;
}
.nav__link:hover::after,
.nav__link.active::after {
  opacity: 1;
}
/* Basket */
.basket__logo {
  display: flex;
  max-width: 160px;
  width: 100%;
  justify-content: space-between;
}
.basket-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #4B4B4B;
}
.basket-link:hover {
  opacity: 60%;
}
.price {
  display: flex;
  align-items: center;
}
/* Button */
.button_more {
  margin: 20px auto 0;
  width: 300px;
  height: 59px;
  background: linear-gradient(92.4deg, #FC8800 5.84%, #FA9F17 92.96%);
  border-radius: 110px;
  border: 0;
  transition: opacity 0.2s linear;
}
.purchase {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  text-decoration: none;
  color: #000;
  padding: 11px 68px 11px 68px;
  border-radius: 110px;
}
.purchase__catalog {
  font-weight: 600;
  font-size: 32px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 504px;
  height: 127px;
  color: #000000;
  text-decoration: none;
}
.button_more:hover {
  opacity: 85%;
}
.button_more:active {
  opacity: 70%;
}
.button__buy {
  width: 145.12px;
  height: 53px;
  background: #FFA319;
  box-shadow: 0 9px 35px rgba(255, 163, 25, 0.51);
  border-radius: 110px;
  border: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: opacity 0.2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__purchase {
  font-weight: 600;
  font-size: 15px;
  line-height: 53px;
  width: 145px;
  text-decoration: none;
  color: #000;
  border-radius: 20px;
}
.button__buy:hover {
  opacity: 85%;
}
.button__buy:active {
  opacity: 70%;
}
.button_more__catalog {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 516px;
  height: 129px;
  background: #FFA319;
  box-shadow: 0 9px 35px rgba(255, 163, 25, 0.51);
  border-radius: 110px;
  border: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: opacity 0.2s linear;
}
.button_more__catalog:hover {
  opacity: 85%;
}
.button_more__catalog:active {
  opacity: 70%;
}
/* Section */
.section__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-top: 110px;
  margin-bottom: 90px;
}
.section__about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.section__about__albums {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
  margin-bottom: 80px;
}
/* Selection items*/
.about__item {
  text-align: center;
}
.information__about__albums {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  min-height: 37px;
  max-width: 269px;
}
.manufacturer {
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 25px;
}
.information__about {
  max-width: 200px;
  min-height: 37px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 33px;
}
.price__number {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}
.about__albums__item {
  margin: auto;
}
.images__albums {
  width: 281px;
  height: 273px;
}
/* Selection page */
.page__number {
  width: 100%;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}
.number {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: #000;
  position: relative;
  transition: opacity 0.2s linear;
}
.number:hover {
  opacity: 60%;
}
.number.active {
  opacity: 60%;
}
.number:hover::after,
.number.active::after {
  opacity: 1;
}
/* Contacts */
.contacts {
  display: block;
  min-height: 94vh;
  height: 100%;
  background: #000;
  background-size: cover;
}
.contacts__information-block {
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  grid-column-gap: 130px;
  color: #FFFFFF;
}
.contacts__about {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 87px;
  margin-bottom: 19px;
}
.image__icons {
  width: 100%;
  max-width: 90px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}
.phone {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.contacts__topic {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-top: 87px;
  margin-bottom: 41px;
}
.about__contacts__topic {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 12px;
}
.about__topic {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
}
.button_buy-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1180px;
}
.col {
  padding-left: 0;
}
.register__form {
  display: flex;
  width: 400px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-weight: 600;
  font-size: 16px;
}
.register__form input {
  margin: 10px 0;
  padding: 10px;
  border: unset;
  border-bottom: 2px solid #E3E3E3;
  outline: none;
  font-weight: 500;
  font-size: 13px;
}
.register__form button {
  padding: 10px;
  background: #E3E3E3;
  border: unset;
  cursor: pointer;
  border-radius: 5px;
}
.form_div {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
}
.registration__click {
  font-weight: 500;
  font-size: 13px;
}
.come__in {
  font-weight: 500;
  font-size: 14px;
}
.register__form a {
  color: #7C9AB7;
  text-decoration: none;
  font-weight: bold;
}
.register__form p {
  margin: 10px 0;
}
.msg {
  border: 2px solid #c74453;
  /*background: #c75858;*/
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
.msg2 {
  border: 2px solid #74c957;
  /*background: #c75858;*/
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  font-weight: 600;
}
.images__albums img {
  width: 281px;
  height: 273px;
}
.title__first_container {
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  color: #FCFCFC;
}
.intro__first_container {
  display: flex;
  align-items: center;
  text-align: center;
}
.intro__first_container {
  width: 100%;
  min-height: 39vh;
  background: url(/images/container1.jpg?a18640566cdc7f4e8934479e08896272) top no-repeat;
  background-size: cover;
}
.my__genre {
  width: 393px;
  height: 62px;
  background: #F1F1F1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
}
.my__price {
  width: 393px;
  height: 62px;
  background: #F1F1F1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
}
.start,
.end {
  width: 122px;
  height: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.ok {
  width: 45px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #DFDFDF;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.menu__price {
  width: 373px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 10px 16px 10px;
}
.my__brend {
  width: 200px;
  height: 130px;
  background: #F1F1F1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  margin-top: 5px;
  overflow-y: scroll;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  background: #FFFBFB;
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  top: 50%;
}
.my__amount {
  width: 100px;
  height: 130px;
  background: #F1F1F1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  margin-top: 5px;
  overflow-y: scroll;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
}
.my__amount::-webkit-scrollbar,
.my__brend::-webkit-scrollbar {
  width: 7px;
  background-color: #c5c5c5;
}
.price_button-box,
.brend_button-box,
.amount_button-box {
  position: absolute;
  z-index: 1000;
  opacity: 0;
}
.price_button-box:not(:checked) + label.label3 ~ div,
.brend_button-box:not(:checked) + label.label1 ~ div,
.amount_button-box:not(:checked) + label.label2 ~ div {
  display: none;
}
.brend_button-box:checked + label.label1 ~ div,
.price_button-box:checked + label.label3 ~ div,
.amount_button-box:checked + label.label2 ~ div {
  display: inline-block;
}
.buttons__examination,
.form_for_filters {
  display: flex;
  width: 100%;
  max-width: 280px;
  justify-content: space-between;
}
input[type="search"] {
  width: 190px;
  background: #F8F8F8;
  border: 1px solid #404040;
  box-sizing: border-box;
  border-radius: 5px;
}
.button__helper {
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
}
.my__search {
  display: flex;
}
.row {
  margin-top: 20px;
}
.about__card-turntable {
  margin-bottom: 30px;
}
.images {
  width: 380px;
  height: 386px;
}
.button__show_all {
  position: absolute;
  width: 180px;
  height: 70px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 110px;
  margin-top: 106px;
}
.section__show_all {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.section__show_all {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first__text {
  margin-top: 165px;
  width: 100%;
  height: 70vh;
  background: url(/images/backFirst_container_first.jpg?91f53af56fae96acc7297c31494e17b9) top no-repeat;
  background-size: cover;
}
.second__text {
  position: absolute;
  max-height: 408px;
  max-width: 480px;
  margin-top: 630px;
}
.text {
  min-height: 408px;
  max-height: 408px;
}
.sub_title-all {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.title-all {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.first__text .col {
  margin-top: 45px;
}
.second__text_turntables {
  margin: 0;
  width: 100%;
  height: 80vh;
  background: url(/images/backSecond_containerFirst.jpg?4774eb13a9ca0e8e6c7eedb6d658ffa1) top no-repeat;
  background-size: cover;
}
.width__second {
  padding-top: 45px;
  width: 60vh;
}
.first__second-block .col-5 {
  margin-top: 25px;
}
.intro__second_container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 39vh;
  background: url(/images/back2.jpg?fda7eaa7ef4a7d934b03fdf8433dedc3) top no-repeat;
  background-size: cover;
}
.title__second_container {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
}
.album__all {
  margin-bottom: 40px;
}
.row.row-cols-4 {
  margin: 44px auto auto;
}
.albums__cover-pic {
  width: 281px;
  height: 273px;
}
.my__genre {
  width: 220px;
  height: 190px;
  background: #F1F1F1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  margin-top: 5px;
  overflow-y: scroll;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
}
.my__genre::-webkit-scrollbar {
  width: 7px;
  background-color: #c5c5c5;
}
.genre_button-box {
  position: absolute;
  z-index: 1000;
  opacity: 0;
}
.genre_button-box:not(:checked) + label.label1 ~ div {
  display: none;
}
.genre_button-box:checked + label.label1 ~ div {
  display: inline-block;
}
.first__text-second {
  width: 100%;
  min-height: 39vh;
  background: url(/images/First_second-back.jpg?f013969f2306398a9be2e45f38df9928) top no-repeat;
  background-size: cover;
}
.second__text-second {
  width: 100%;
  min-height: 39vh;
  background: url(/images/Second_second-back.png?fa25f127ec78532eaf81833a182e3108) top no-repeat;
  background-size: cover;
}
.first__second-block {
  margin-top: 165px;
}
img[alt="search"] {
  margin-left: -17px;
}
input[type="search"] {
  outline: none;
}
li {
  list-style-type: none;
}
.alert {
  background: #f8d7da;
  padding: 1px;
}
.error {
  width: 100%;
  background: #f8d7da;
  padding: 15px;
}
.back_to_shop {
  color: black;
  margin-top: 60px;
}
.suggestion {
  display: flex;
  justify-content: center;
  max-width: 440px;
  margin-top: 22px;
}
.suggestion img {
  margin-left: 15px;
  margin-right: 15px;
}
img[alt="main__photo"] {
  width: 440px;
  height: 440px;
}
img[alt="first__photo"],
img[alt="second__photo"] {
  width: 70px;
  height: 70px;
}
.title__sell {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.subtitle__sell {
  margin: 40px 0 0;
  max-height: 24px;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.divbutton__sell {
  margin-top: 43px;
}
.button__sell {
  width: 140px;
  height: 39px;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 110px;
  text-decoration: none;
}
.sell_link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.sell .col-6 {
  margin-left: 100px;
}
.tracklist {
  margin-top: 60px;
}
.sell {
  margin-top: 60px;
}
.offers {
  margin-top: 106px;
}
.offers .h1 {
  font-weight: 600;
  font-size: 20px;
}
.offers .price__number {
  font-weight: 400;
  font-size: 15px;
}
.sell_about {
  margin-top: 100px;
}
.offers img {
  width: 259.91px;
  height: 250px;
}
.for_card {
  text-decoration: none;
  color: #000;
}
@media (max-width: 770px) {
  .section .row {
    height: 750px;
    z-index: 1001;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .section .col-sm-4 {
    width: 100vh;
  }
  .about__card-turntable {
    margin-left: 20px;
  }
  .section .about__item {
    justify-content: center;
  }
  .page__number {
    display: none;
  }
}
@media (min-width: 1200px) {
  .section .about__item {
    max-width: 393px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .section .col-xl {
    width: 33.3%;
  }
}
@media (max-width: 1200px) {
  .intro__programmers-title-first {
    width: 950px;
    font-size: 42px;
  }
  .button_more__catalog {
    width: 500px;
    height: 125px;
  }
  .purchase__catalog {
    font-size: 30px;
  }
}
@media (max-width: 990px) {
  .intro__programmers-title-first {
    width: 710px;
    font-size: 38px;
    margin-top: 100px;
  }
  .button_more__catalog {
    width: 374px;
    height: 94px;
  }
  .purchase__catalog {
    font-size: 26px;
  }
}
@media (max-width: 770px) {
  .intro__programmers-title-first {
    width: 530px;
    font-size: 34px;
    margin-top: 90px;
  }
  .button_more__catalog {
    width: 300px;
    height: 80px;
  }
  .purchase__catalog {
    font-size: 22px;
  }
  .section__purchase {
    font-weight: 500;
    font-size: 15px;
  }
}
@media (max-width: 580px) {
  .intro__programmers-title-first {
    width: 320px;
    font-weight: 600;
    font-size: 20px;
    height: 48px;
    line-height: 24px;
    margin-top: 56px;
    margin-bottom: 35px;
  }
  .button_more__catalog {
    width: 250px;
    height: 70px;
  }
  .purchase__catalog {
    font-size: 19px;
  }
}
.purchase__catalog {
  width: auto;
  height: auto;
}
@media (max-width: 470px) {
  .about__card-turntable img {
    width: 320px;
    height: 330px;
  }
  .about__card-turntable {
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .header {
    display: none;
  }
  .header__mobile {
    width: 100%;
    padding: 21px 12px 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(187, 187, 187, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
}
@media (min-width: 992px) {
  .header__mobile {
    display: none;
  }
}
.container__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .intro__inner {
    width: 100%;
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .intro_-title-first,
  .intro_-title-second {
    text-align: center;
  }
  .contacts__information-block {
    display: flex;
    flex-direction: column;
  }
  .image__icons {
    display: none;
  }
  .contacts__about {
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .mobile_image__icons {
    display: flex;
    width: 116px;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: 25px;
  }
  .phone {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
  }
  .contacts__topic {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
  }
  .about__topic {
    font-weight: 400;
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .intro_-title-first,
  .intro_-title-second {
    width: 320px;
  }
  .intro_-title-first {
    height: 154px;
    font-weight: 900;
    font-size: 42px;
  }
  .intro_-title-second {
    width: 320px;
    height: 30px;
    font-weight: 700;
    font-size: 18px;
  }
  .section__title {
    font-weight: 600;
    font-size: 20px;
  }
  .button_more__catalog {
    width: 162px;
    height: 49px;
  }
  .intro__programmers,
  .intro__records {
    height: 307px;
  }
  .purchase__catalog {
    font-weight: 500;
    font-size: 15px;
  }
}
@media (min-width: 769px) {
  .mobile_image__icons {
    display: none;
  }
}
@media (max-width: 1200px) {
  .section_records .col {
    width: 33.3%;
  }
  .section_records .about__albums__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .section_records .col {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .section_records .row {
    height: 900px;
    z-index: 1001;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #000000;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .section_records .page__number {
    display: none;
  }
  .section_records img {
    width: 200px;
    height: 194.3px;
  }
  .section_records .images__albums {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
    width: 230px;
  }
  .section_records .information__about__albums {
    font-weight: 500;
    width: 230px;
  }
  .section_records .price__number {
    font-weight: 500;
  }
  .section__title {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .intro__programmers {
    margin: 0;
  }
  .section__title {
    font-weight: 600;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .section_records .row {
    height: 680px;
    z-index: 1001;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #000000;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .section_records .button_buy-pic {
    display: none;
  }
  .section_records img {
    width: 150px;
    height: 145.72px;
  }
  .section_records .information__about__albums {
    font-size: 13px;
    width: 150px;
  }
  .section_records .price__number {
    font-size: 12px;
    width: 150px;
  }
  .section_records .images__albums {
    width: 150px;
    height: 180px;
  }
}
.section_records .col {
  padding-left: 6px;
  padding-right: 6px;
}
@media (max-width: 990px) {
  .sell img[alt="main__photo"] {
    width: 370px;
    height: 370px;
  }
  .sell .suggestion {
    width: 400px;
  }
  .sell .col-6 {
    margin-left: 80px;
  }
  .sell .title__sell {
    font-weight: 700;
    font-size: 22px;
  }
}
@media (max-width: 900px) {
  .sell .col,
  .sell .col-6 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .sell .col-6 {
    margin-bottom: 40px;
  }
  .sell .subtitle__sell,
  .sell .divbutton__sell,
  .sell .tracklist {
    width: 470px;
    text-align: left;
    margin-top: 40px;
  }
  .sell .divbutton__sell {
    margin-top: 15px;
  }
  .sell .subtitle__sell {
    margin-top: 30px;
  }
  .sell {
    margin-top: 30px;
  }
  .back_to_shop {
    margin-top: 34px;
  }
}
@media (max-width: 576px) {
  .sell img[alt="main__photo"] {
    width: 320px;
    height: 320px;
  }
  .sell img[alt="first__photo"],
  .sell img[alt="second__photo"] {
    width: 50px;
    height: 50px;
  }
  .sell .title__sell {
    font-weight: 700;
    font-size: 20px;
    width: 320px;
  }
  .sell .subtitle__sell,
  .sell .divbutton__sell,
  .sell .tracklist {
    width: 320px;
  }
}
@media (max-width: 1200px) {
  .offers .col {
    width: 33.3%;
  }
  .offers .about__albums__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offers .images__albums {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 992px) {
  .offers .col {
    width: 50%;
  }
  .offers .title {
    font-weight: 600;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .offers .col {
    width: 100vh;
  }
  .offers .row {
    z-index: 1001;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #000000;
    display: flex;
    margin: 0;
  }
  .offers .row {
    height: 388px;
    z-index: 1001;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
  .sell .suggestion {
    width: 150px;
  }
  .sell_about {
    margin-top: 60px;
  }
  .offers .information__about__albums {
    margin: 30px 0 0;
  }
  .offers .title {
    margin-bottom: 60px;
  }
}
@media (max-width: 1200px) {
  .turntable_section .col {
    width: 50%;
  }
}
@media (max-width: 991px) {
  .turntable_section .images {
    width: 350px;
    height: 352px;
  }
  .turntable_section .manufacturer {
    margin-bottom: 10px;
  }
  .turntable_section .information__about {
    margin: 0 auto 20px;
  }
  .turntable_section .price__number {
    margin: 0 auto 10px;
  }
  .turntable_section .button__buy {
    width: 115px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .turntable_section .col {
    width: 100vh;
  }
  .c6,
  .c7,
  .c8,
  .c9 {
    display: none;
  }
  .turntable_section .images {
    width: 319px;
    height: 319px;
  }
  .intro__first_container {
    height: 321px;
    min-height: auto;
    background-size: cover;
  }
  .title__first_container {
    font-weight: 600;
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .title__first_container {
    font-size: 32px;
  }
}
@media (max-width: 1200px) {
  .turntables_text-first .first__text-one,
  .turntables_text-first .first__text-two {
    display: flex;
    flex-direction: column;
  }
  .second__text_turntables .sub_title-all {
    width: 360px;
  }
  .turntables_text-first {
    max-height: 59vh;
  }
}
@media (max-width: 768px) {
  .turntables_text-first .first__text {
    display: none;
  }
  .turntables_text-first {
    margin-top: 170px;
  }
  .turntables_text-first .first__text-one {
    display: flex;
    width: 100%;
    height: 400px;
    background: url(/images/mobile_first-1-1.jpg?4c813792f6b7ddce37a29f8c5e3faa8e) top no-repeat;
    background-size: cover;
  }
  .turntables_text-first .first__text-two {
    display: flex;
    width: 100%;
    height: auto;
    background: url(/images/mobile_first-2-1.jpg?edd37f8e1db0d499264bf613c6e509e4) top no-repeat;
    background-size: cover;
  }
  .turntables_text-first .title-all-mobile {
    font-weight: 700;
    font-size: 16px;
    margin: 40px 0 0;
  }
  .turntables_text-first .sub_title-all-mobile-first {
    font-weight: 500;
    font-size: 15px;
    margin: 25px 0 0;
  }
  .turntables_text-first .sub_title-all-mobile-second {
    font-weight: 500;
    font-size: 15px;
    margin: 20px 0 80px;
  }
  .turntables_text-first {
    max-height: none;
  }
}
@media (min-width: 769px) {
  .turntables_text-first .first__text-one,
  .turntables_text-first .first__text-two,
  .turntables_text-first .second__text-one,
  .turntables_text-first .second__text-two {
    display: none;
  }
}
@media (max-width: 576px) {
  .turntables_text-first .first__text-one {
    height: 176px;
  }
}
@media (max-width: 768px) {
  .text__second .second__text-two {
    display: flex;
  }
  .text__second .second__text_turntables {
    display: none;
  }
  .text__second .second__text-one {
    display: flex;
    width: 100%;
    height: 400px;
    background: url(/images/mobile_second-1-1.jpg?60631bd6be2f10a7b8d2bb2e5c902bea) top no-repeat;
    background-size: cover;
  }
  .text__second .second__text-two {
    background: url(/images/mobile_second-2-1.jpg?a57f707556998749437c02aa19c47769) top no-repeat;
    background-size: cover;
  }
  .text__second .title-all-mobile {
    font-weight: 700;
    font-size: 16px;
    margin-top: 40px;
  }
  .text__second .sub_title-all-mobile-first {
    margin: 25px 0 0;
    font-weight: 500;
    font-size: 15px;
  }
  .text__second .sub_title-all-mobile-second {
    margin: 20px 0 80px;
    font-weight: 500;
    font-size: 15px;
  }
}
@media (min-width: 769px) {
  .text__second .second__text-two,
  .text__second .second__text-one {
    display: none;
  }
}
@media (max-width: 576px) {
  .text__second .second__text-one {
    height: 186px;
  }
}
@media (max-width: 1200px) {
  .records_catalog .col {
    width: 33.3%;
  }
}
@media (max-width: 992px) {
  .records_catalog .col {
    width: 50%;
  }
}
.records_catalog .about__albums__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .records_catalog img {
    width: 200px;
    height: auto;
  }
  .records_catalog .images__albums {
    width: auto;
    height: auto;
  }
  .records_catalog .information__about__albums {
    text-align: center;
    font-weight: 500;
    width: 230px;
    font-size: 15px;
    line-height: 18px;
    min-height: 37px;
    max-width: 269px;
  }
  .records_catalog .price__number {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }
  .title__second_container {
    font-weight: 600;
    font-size: 40px;
  }
}
@media (max-width: 576px) {
  .title__second_container {
    font-weight: 600;
    font-size: 32px;
  }
  .records_catalog .button__buy {
    display: none;
  }
  .records_catalog img {
    width: 150px;
  }
  .records_catalog .information__about__albums {
    text-align: center;
    font-weight: 500;
    width: 150px;
    font-size: 14px;
  }
  .records_catalog .price__number {
    font-weight: 500;
    font-size: 12px;
    text-align: center;
  }
}
.records_catalog img:hover,
.section_records img:hover,
.offers img:hover {
  opacity: 70%;
}
.records_catalog img,
.section_records img,
.offers img {
  transition: opacity 0.3s linear;
}
@media (max-width: 1000px) {
  .text__second .sub_title-all-second {
    width: 350px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
  }
}
@media (max-width: 768px) {
  .first__second-block .first__text-second,
  .text__second .second__text-second {
    display: none;
  }
  .first__second-block .first_photo {
    display: flex;
    width: 100%;
    height: 400px;
    background: url(/images/mobile_first-1-2.jpg?0787e521a3751c377917f62458533624) top no-repeat;
    background-size: cover;
  }
  .text__second .second__photo {
    display: flex;
    width: 100%;
    height: 400px;
    background: url(/images/mobile_second-1-2.jpg?44a29493a95c9cbcbc9bbd2c74333782) top no-repeat;
    background-size: cover;
  }
  .first__second-block .first_text {
    display: flex;
    flex-direction: column;
    background: url(/images/mobile_first-2-2.jpg?bcd2329b53e688f9c21e0aea410cb36c) top no-repeat;
    background-size: cover;
    height: auto;
  }
  .text__second .second_text {
    display: flex;
    flex-direction: column;
    background: url(/images/mobile_second-2-2.jpg?ed251913a20b41f394f86c6e35e2dfa9) top no-repeat;
    background-size: cover;
    height: auto;
  }
  .first__second-block .title-all {
    font-weight: 700;
    font-size: 16px;
    margin-top: 40px;
  }
  .first__second-block .text {
    min-height: auto;
  }
  .first__second-block .sub_title-all {
    font-weight: 500;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 80px;
  }
  .text__second .title-all {
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    margin-top: 40px;
  }
  .text__second .sub_title-all-second {
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    margin: 25px 0 80px;
  }
  .text__second .text {
    min-height: auto;
  }
}
@media (min-width: 769px) {
  .first__second-block .first_text,
  .text__second .second_text {
    display: none;
  }
  .text__second .sub_title-all-second {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
  }
}
@media (max-width: 576px) {
  .first__second-block .first_photo {
    max-height: 278px;
    background: url(/images/mobile_first-1-2.jpg?0787e521a3751c377917f62458533624) top no-repeat;
    background-size: cover;
  }
}
.button__helper_mobile img[alt="filter"] {
  transform: rotate(90deg);
  width: 20px;
  height: 20px;
}
.button__helper_mobile .filter_text {
  margin-left: 6px;
}
.sub__header {
  display: flex;
  justify-content: space-between;
}
.mobile_brend-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.mobile_brend-checkbox:checked + label.label_brend ~ div {
  display: inline-block;
}
.mobile_brend-checkbox:not(:checked) + label.label_brend ~ div {
  display: none;
}
.button__helper_mobile .brend {
  width: 100%;
  height: 165px;
  z-index: 1000;
  margin-top: 5px;
  overflow-y: scroll;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
}
.mobile_genre-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.mobile_genre-checkbox:checked + label.label_genre ~ div {
  display: inline-block;
}
.mobile_genre-checkbox:not(:checked) + label.label_genre ~ div {
  display: none;
}
.mobile_genre-checkbox:checked + label.label_genre img[alt="click"] {
  display: none;
}
.mobile_genre-checkbox:not(:checked) + label.label_genre img[alt="click_active"] {
  display: none;
}
img[alt="click_active"] {
  height: 8px;
  width: 18px;
}
.button__helper_mobile .genre {
  width: 100%;
  height: 165px;
  z-index: 1000;
  margin-top: 5px;
  overflow-y: scroll;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
}
.lines {
  margin: 13px 0;
}
.lines-first {
  margin-top: 25px;
  margin-bottom: 13px;
}
.mobile_amount-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.mobile_amount-checkbox:checked + label.label_amount ~ div {
  display: inline-block;
}
.mobile_amount-checkbox:not(:checked) + label.label_amount ~ div {
  display: none;
}
.button__helper_mobile .amount {
  width: 100%;
  height: 165px;
  z-index: 1000;
  margin-top: 5px;
  overflow-y: scroll;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
}
.mobile_price-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.mobile_price-checkbox:checked + label.label_price ~ div {
  display: inline-block;
}
.mobile_price-checkbox:not(:checked) + label.label_price ~ div {
  display: none;
}
.button__helper_mobile .price {
  width: 100%;
  height: 70px;
  z-index: 1000;
  margin-top: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
  background: #F1F1F1;
}
.price_menu-mobile {
  margin-top: 3px;
  text-align: center;
}
.price_menu-mobile img {
  padding-bottom: 5px;
}
.filter-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.filter-checkbox:checked + label.label_filter ~ div {
  display: inline-block;
}
.filter-checkbox:not(:checked) + label.label_filter ~ div {
  display: none;
}
.button__helper_mobile .div {
  width: 100%;
  z-index: 1000;
  margin-top: 5px;
  overflow-y: scroll;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  display: flex;
  align-items: center;
}
.button__helper_mobile .menu {
  width: 100%;
}
.label__div {
  display: flex;
}
.button__helper_mobile p {
  margin: 0;
}
.icon__filter {
  display: flex;
  justify-content: space-between;
}
.button__helper_mobile {
  display: none;
}
@media (max-width: 576px) {
  .button__helper_mobile {
    display: inline;
  }
  .sub__header {
    margin-top: 25px;
  }
  .button__helper_mobile .icon__filter {
    align-items: center;
  }
  .button__helper {
    display: none;
  }
  .button__helper_mobile input[type="search"] {
    width: 150px;
  }
}
.divs {
  display: flex;
  align-items: center;
}
.my__genre p,
.my__amount p,
.my__brend p {
  margin: 0;
}
.label_brend p {
  margin: 0;
}
.clickss {
  display: flex;
  justify-content: space-between;
}
.mobile_amount-checkbox:checked + label.label_amount img[alt="click"] {
  display: none;
}
.mobile_amount-checkbox:not(:checked) + label.label_amount img[alt="click_active"] {
  display: none;
}
.mobile_price-checkbox:checked + label.label_price img[alt="click"] {
  display: none;
}
.mobile_price-checkbox:not(:checked) + label.label_price img[alt="click_active"] {
  display: none;
}
.mobile_brend-checkbox:checked + label.label_brend img[alt="click"] {
  display: none;
}
.mobile_brend-checkbox:not(:checked) + label.label_brend img[alt="click_active"] {
  display: none;
}
.mobile_amount-checkbox:checked + label.label_amount img[alt="click"] {
  display: none;
}
.mobile_amount-checkbox:not(:checked) + label.label_amount img[alt="click_active"] {
  display: none;
}
.mobile_price-checkbox:checked + label.label_price img[alt="click"] {
  display: none;
}
.mobile_price-checkbox:not(:checked) + label.label_price img[alt="click_active"] {
  display: none;
}
.genre::-webkit-scrollbar,
.amount::-webkit-scrollbar,
.brend::-webkit-scrollbar {
  width: 7px;
  background-color: #c5c5c5;
}
.etd-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.etd-checkbox:checked + label.label_etd ~ div {
  display: inline-block;
}
.etd-checkbox:not(:checked) + label.label_etd ~ div {
  display: none;
}
.divvv .header_list {
  display: block;
  height: 100vh;
  width: 100%;
  z-index: 100;
  position: absolute;
  background: rgba(187, 187, 187, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  margin: 0;
  padding: 0;
  left: 0;
  top: 36px;
}
.divvv .header_list a {
  font-weight: 600;
  font-size: 26px;
  margin-left: 12px;
}
.divvv .basket__logo {
  width: 100%;
  max-width: none;
  justify-content: left;
  margin-left: 12px;
}
.divvv .price {
  margin-left: 5px;
}
.divvv .nav__link::after {
  display: none;
}
.divvv a.basket-link {
  font-weight: 500;
  font-size: 18px;
}
.divvv img[alt="Basket"] {
  width: 39px;
  height: 39px;
}
.divvv {
  position: fixed;
  z-index: 1002;
  top: 27px;
  display: flex;
  justify-content: right;
  width: 100%;
  padding-right: 12px;
}
@media (min-width: 991px) {
  .divvv {
    display: none;
  }
}
.divvv .nav__link.active {
  opacity: 45%;
}
.noneButton {
  display: none;
}
.nothing {
  display: none;
}

